name: Release CI

on:
  push:
    tags:
      - '*.*.*'

env:
  JAVA_VERSION: 17

jobs:
  build:
    name: Build and release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Update extension version
        run: mvn versions:set -DnewVersion=${{ github.ref_name }}

      - name: Package provider
        run: mvn -B package

      - name: upload linux artifact
        uses: softprops/action-gh-release@v2
        with:
          make_latest: true
          generate_release_notes: true
          files: target/keycloak-discord-${{ github.ref_name }}.jar
